<div class="row">
  <div class="col">
    <h1><%= @profile.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <%= image_tag @profile.photo, alt: @profile.name, class: 'rounded float-left mx-auto img-thumbnail' %>
  </div>
  <div class="col-8">
    <p><%= t(@profile.name.parameterize.underscore + '_desc').html_safe %></p>
  </div>
</div>
<script>
  $(".nav-link[href='/profiles']").addClass('active');
</script>