<div class="jumbotron mb-0 d-flex align-items-center flex-column justify-content-center min-100" id="header">
  <video loop muted autoplay poster="/images/homestill.jpg" preload="auto" class="video-bg">
    <source src="/images/homepage.mov">
  </video>
  <div class="blurred-bg text-center rounded">
    <div class="p-4">
      <img src="/images/logo2x.png" alt="{{logo_alt}}" style="max-height: 240px">
      <h1 class="text-center display-1">{{title}}</h1>
      <p class="text-center display-3">{{date}}</p>
    </div>
    <div class="p4">
      <p class="lead">
        <a class="btn btn-danger btn-lg" id="learn-more" href="#content" role="button">
          {{learn_more}}
        </a>
      </p>
    </div>
  </div>
</div>