<div class="col-lg-3 col-12">
  <div class="card card-danger card-inverse mb-3">
    <div class="card-block">
      <h3 class="card-title">Next Event</h3>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-danger">Outline</a>
    </div>
  </div>
  <div class="card bg-faded border-0 mb-3">
    <div class="card-block">
      <h3 class="card-title">Featured Sponsor</h3>
      <p class="card-text">Display supporters and advertisements here.</p>
      <a href="#" class="btn btn-outline-secondary">C-T-A</a>
    </div>
  </div>
  <div class="card bg-faded border-0 mb-3">
    <div class="card-block">
      <h3 class="card-title">Meet Tristan Stevenson</h3>
      <p class="card-text">Tristan is widely respected...</p>
      <a href="#" class="btn btn-outline-secondary">C-T-A</a>
    </div>
  </div>
</div>