<div class="col-12">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>About</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>Bob Louison, President</h4>

        <p>
          <img src="{{about.profile_img}}" alt="" class="img-fluid rounded float-right ml-3" style="max-width: 33%">
          {{about.profile_text}}
        </p>
      </div>
    </div>
  </div>
</div>