<div class="col-12">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Welcome</h1>
        <p>Sool Bar Week is about promoting quality and passion about the bar culture. Showcasing quality brands,
          quality
          cocktails, quality bars with passionate people, who truly care about elevating the market.</p>
        <p>Inviting world class and local bartenders, foreign and local media, and F&amp;B experts to introduce science
          and philosophy about the international bar culture around the world.</p>
        <p>Famous Korean and foreign bartenders find special Korean ingredients, and get inspired in creating cocktails
          with local flavors and introduce them to the Korean and foreign media outlets in an effort to shed new light
          on
          the excellence of Korean bar culture.</p>
        <p>By sharing bartending methods and stories, many people experience a unique bar world. This enhances their
          knowledge and understanding of what is a bar, how to order a drink at a bar, what to expect from a bartender,
          and increase brand awareness.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="lead">Master Classes</p>
      </div>
      <div class="col">
        <p class="lead">Exclusive Dining</p>
      </div>
      <div class="col">
        <p class="lead">City Wide Events</p>
      </div>
    </div>
  </div>
</div>


<script>
  $learnMore = document.querySelector('#learn-more');
  $learnMore.addEventListener('click', function (event) {
    event.preventDefault();
    document.querySelector('nav').scrollIntoView({
      behavior: 'smooth'
    });
  });

</script>