<div class="col-8 col-sm-7 col-lg-10">

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <img class="img-fluid" src="/images/monsbar.png"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h4 class="tk-museo-slab">Master Classes</h4>
        <p>Learn the craft from the top mixologists in the world.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h4 class="tk-museo-slab">Guest Bartenders & Speakers</h4>
        <p>Sool Bar week is hosting <a href="/events">dinners, cocktail hours, and one of a kind pairings</a> all over
          Seoul.
          Get your ticket now before the bar overflows!</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h4 class="tk-museo-slab">Sool HQ</h4>
        <p>The epicenter of epic bar weeks is where VIP offerings, industry panels, and secret pop up events are
          disclosed.</p>
      </div>
    </div>
  </div>
</div>