<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body data-spy="scroll" data-target="#sidemenu" data-offset="15">
{{#if header}}
  {{> header }}
{{/if}}
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="/javascripts/smoothscroll.js"></script>
<script src="/javascripts/bs.affix.js"></script>
<script>
  (function (d) {
    let config = {
          kitId: 'bfw1lgm',
          scriptTimeout: 3000,
          async: true
        },
        h = d.documentElement, t = setTimeout(function () {
          h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
        }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a;
    h.className += " wf-loading";
    tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
    tk.async = true;
    tk.onload = tk.onreadystatechange = function () {
      a = this.readyState;
      if (f || a && a !== "complete" && a !== "loaded")return;
      f = true;
      clearTimeout(t);
      try {
        Typekit.load(config)
      } catch (e) {
      }
    };
    s.parentNode.insertBefore(tk, s)
  })(document);
</script>

<script>
  $learnMore = document.querySelector('#learn-more');
  $learnMore.addEventListener('click', function (event) {
    event.preventDefault();
    document.querySelector('nav').scrollIntoView({
      behavior: 'smooth'
    });
  });

</script>

<script>
  let $header = $('#header');
  let $footer = $('footer');

  $('.navbar').affix({
    offset: {
      top: $header.outerHeight(),
      bottom: $header.outerHeight() - 50
    }
  });

  $('#sidemenu').affix({
    offset: {
      top: $header.outerHeight(),
      bottom: $footer.outerHeight() + 50
    }
  });
</script>
</body>
</html>
