<div class="col-12">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Sponsors</h1>
      </div>
    </div>
    <div class="row">
      <div class="card-columns">
        {{#sponsors}}
          <div class="card card-outline-none">
            <div class="card-block text-center">
              <h6 class="card-subtitle">{{name}}</h6>
              <a href="{{url}}">
                <img class="img-thumbnail sponsor-logo" src="{{logo_url}}" alt={{name}}>
              </a>
            </div>
          </div>
        {{/sponsors}}
      </div>
    </div>
  </div>
</div>