<table class="table table-striped">
  <thead>
  <tr>
    <td>Name</td>
    <td>Default</td>
    <td>Ordinality</td>
    <td>Actions</td>
  </tr>
  </thead>
  <tbody>
  <% @order_statuses.each do |os| %>
      <tr>
        <td><%= os.name %></td>
        <td><%= content_tag :b, os.default ? "Yes" : "No", class: "badge #{os.default ? 'badge-success' : 'badge-warning'}" %></td>
        <td><%= os.ordinality %></td>
        <td>
          <%= link_to t('edit'), edit_admin_order_status_path(os), class: 'btn btn-sm btn-outline-primary' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>