// Start with assigning color names to specific hex values.
$white:  #fff;
$black:  #000;
$red:    #d93b20;
$orange: #f0ad4e;
$yellow: #d99820;
$green:  #20d98c;
$blue:   #5820d9;
$teal:   #5bc0de;
$pink:   #ff5b77;
$purple: #613d7c;

$brand-primary: $black;

$font-family-sans-serif: "europa", sans-serif;
$font-family-serif:      "museo-slab", serif;
