<div class="col-12">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>About</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>Bob Louison, President</h4>

        <p>
          <img src="{{about.profile_img}}" alt="" class="img-fluid rounded float-right ml-3" style="max-width: 33%">
          {{about.profile_text}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Sool Bar Week Logo designed by Hyng Shin Kang.&nbsp;<a href="https://www.facebook.com/kanalog.catinabox/" target="_blank"><i class="fa fa-facebook"></i></a></p>

        <p>Check out the <a href="http://www.customvillage.co.kr/product/list.html?cate_no=31" target="_blank">store!</a></p>
      </div>

    </div>
  </div>
</div>