<div class="row">
  <!--<div class="">-->
  {{#profiles}}
    <div class="col-4">
      <div class="card card-outline-none">
        <h3><a href="/profiles/{{id}}">{{name}}</a></h3>
        <p><a href="/profiles/{{id}}"><img class="rounded img-fluid mx-auto" src="/images/profiles/{{id}}.jpg"></a></p>
      </div>
    </div>
  {{/profiles}}
  <!--</div>-->
</div>
