<div class="col-12">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>{{sponsor_title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="card-columns">
        {{#sponsors}}
          <div class="card card-outline-none w-50">
            <div class="card-block text-center">
              <a href="{{url}}" target="_blank">
                <img class="img-fluid sponsor-logo" src="{{logo_url}}" alt={{title}}>
              </a>
            </div>
          </div>
        {{/sponsors}}
      </div>
    </div>
  </div>
</div>