<div class="col-12">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Message Sent</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          {{message_sent_text}}
        </p>
      </div>
    </div>
  </div>
</div>