<div class="col-12">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1><%= t('message_sent_title') %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          <%= t('message_sent_text')  %>
        </p>
      </div>
    </div>
  </div>
</div>