@include media-breakpoint-between(sm, md) {
  .brand > img {
    width: 50%;
  }
  .navbar-toggleable-md .navbar-collapse {
    width: 50%;
    &.show, &.collapsing {
      left: 6rem;
      position: relative;
    }
  }
}