@import "font-awesome";
@import "variables";
@import "bootstrap";
@import "map";
@import "breakpoints/xl";
@import "breakpoints/lg";
@import "breakpoints/md";
@import "breakpoints/sm";
@import "jquery.tagsinput";
//@import "sponsors";

body {
  color: $brand-primary;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.blurred-bg {
  background: rgba(255, 255, 255, 0.35);
}

.won:after {
  content: "\20A9"
}

.jumbotron {
  overflow: hidden;
  position: relative;
  background-color: transparent;
  > video {
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%); /* % of current element */
    z-index: -1
  }

  #launch-bar {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
  }
  .display-1 {
    font-size: 6vw;
  }

  .display-3 {
    font-size: 4vw;
    color: $red;
  }
  .display-1 {
    text-shadow: 1px 1px 2px $gray-dark;
  }
  .display-3 {
    text-shadow: 1px 1px 2px darken($red, 20%);
  }
}

body, html {
  min-height: 100%;
}

/* must be relative for scrollspy to work */
body {
  position: relative;
}

.min-100 {
  min-height: 100vh;
}

.navbar.affix-top,
.navbar.affix-bottom {
  position: static;
}

.navbar.affix {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background: #fff;
  transition: all .35s ease;
}

.navbar .nav-item.active {
  text-decoration: underline;
}

#sidemenu.affix-top, #sidemenu.affix {
  position: static;
}

#sidemenu.affix-bottom {
  position: relative;
}

@media (min-width: 768px) {
  #sidemenu.affix {
    position: fixed;
    top: 40px;
  }
}

#sidemenu .nav-link.active,
#sidemenu .nav-link:hover,
#sidemenu .nav-link:focus {
  color: #111;
  border-bottom: 1px #000 dashed;
}

.anchor {
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

#content .nav-link {
  color: #555;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  transition-timing-function: ease;
}

footer a {
  color: #ccc;
}

footer a:hover,
footer a:focus {
  color: #eee;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-slab", $font-family-serif;
}

.card-outline-none {
  border: none !important;
}

.text-ellipse {
  @include text-truncate();
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.ellipsis.multiline {
  white-space: normal;
}

/* put hr's under text baseline and ignore lower staff ligatures like 'y' */
hr {
  @extend .mb-0;
  top: -4px;
  position: relative;
  color: $gray-lighter;
}

.text-danger {
  color: $red;
}

.border {
  border: 1px solid $gray-lighter;
}

nav a:hover {
  text-decoration: none;
}

.scrollbox {
  height: 15em;
  overflow-y: auto;
}

svg text {
  font-family: $font-family-sans-serif;
  font-size: 0.65rem;
}

.event {
  a {
    cursor: hand;
  }
}

.fill-container {
  max-width: 100%;
  max-height: 100%;
}